* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
    color: #fff;
}

/* HEADER */

header {
    text-align: center;
    padding: 30px 20px;
    background: #000;
    border-bottom: 2px solid #222;
}

header h1 {
    font-size: 28px;
    margin-bottom: 8px;
}

header p {
    font-size: 14px;
    color: #bbb;
}

/* GRID PRODUCTOS */

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 30px;
}

/* TARJETA PRODUCTO */

.producto {
    background: #1a1a1a;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    transition: 0.3s;
    border: 1px solid #222;
}

.producto:hover {
    transform: scale(1.03);
    border: 1px solid #444;
}

.producto img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.producto h3 {
    font-size: 14px;
    margin-bottom: 8px;
    min-height: 40px;
}

.producto p {
    font-size: 16px;
    font-weight: bold;
    color: #00ffae;
}

/* RESPONSIVE */

@media (max-width: 600px) {
    .productos {
        grid-template-columns: repeat(2, 1fr);
        padding: 15px;
        gap: 15px;
    }

    .producto img {
        height: 180px;
    }
}
